/* Mahjong */
.mahjong-W1, .mahjong-W2, .mahjong-W3, .mahjong-W4, .mahjong-W5, .mahjong-W6, .mahjong-W7, .mahjong-W8, .mahjong-W9,
.mahjong-B1, .mahjong-B2, .mahjong-B3, .mahjong-B4, .mahjong-B5, .mahjong-B6, .mahjong-B7, .mahjong-B8, .mahjong-B9,
.mahjong-D1, .mahjong-D2, .mahjong-D3, .mahjong-D4, .mahjong-D5, .mahjong-D6, .mahjong-D7, .mahjong-D8, .mahjong-D9,
.mahjong-H1, .mahjong-H2, .mahjong-H3, .mahjong-H4, .mahjong-H5, .mahjong-H6, .mahjong-H7,
.mahjong-F1, .mahjong-F2, .mahjong-F3, .mahjong-F4, .mahjong-F5, .mahjong-F6, .mahjong-F7, .mahjong-F8
{
    background:url("../img/mahjong.png") no-repeat;
    display: inline-block;
    background-position:0 -1368px;
    background-size: auto 2525px;
    vertical-align: middle;
}

.mahjong-W1:before, .mahjong-W2:before, .mahjong-W3:before, .mahjong-W4:before, .mahjong-W5:before, .mahjong-W6:before, .mahjong-W7:before, .mahjong-W8:before, .mahjong-W9:before,
.mahjong-B1:before, .mahjong-B2:before, .mahjong-B3:before, .mahjong-B4:before, .mahjong-B5:before, .mahjong-B6:before, .mahjong-B7:before, .mahjong-B8:before, .mahjong-B9:before,
.mahjong-D1:before, .mahjong-D2:before, .mahjong-D3:before, .mahjong-D4:before, .mahjong-D5:before, .mahjong-D6:before, .mahjong-D7:before, .mahjong-D8:before, .mahjong-D9:before,
.mahjong-H1:before, .mahjong-H2:before, .mahjong-H3:before, .mahjong-H4:before, .mahjong-H5:before, .mahjong-H6:before, .mahjong-H7:before,
.mahjong-F1:before, .mahjong-F2:before, .mahjong-F3:before, .mahjong-F4:before, .mahjong-F5:before, .mahjong-F6:before, .mahjong-F7:before, .mahjong-F8:before
{
    background:url("../img/mahjong.png") no-repeat;
    display: inline-block;
    content: "";
    background-size: auto 2525px;
    height:57px;
    width:39px;
    vertical-align: middle;
}

/* 萬 */
.mahjong-W1:before{background-position:0 -456px;}
.mahjong-W2:before{background-position:0 -399px;}
.mahjong-W3:before{background-position:0 -228px;}
.mahjong-W4:before{background-position:0 -57px;}
.mahjong-W5:before{background-position:0 0;}
.mahjong-W6:before{background-position:0 -171px;}
.mahjong-W7:before{background-position:0 -114px;}
.mahjong-W8:before{background-position:0 -855px;}
.mahjong-W9:before{background-position:0 -798px;}
/* 條 */
.mahjong-B1:before{background-position:0 -1482px;}
.mahjong-B2:before{background-position:0 -1425px;}
.mahjong-B3:before{background-position:0 -1254px;}
.mahjong-B4:before{background-position:0 -1083px;}
.mahjong-B5:before{background-position:0 -1026px;}
.mahjong-B6:before{background-position:0 -1197px;}
.mahjong-B7:before{background-position:0 -1140px;}
.mahjong-B8:before{background-position:0 -1881px;}
.mahjong-B9:before{background-position:0 -1824px;}
/* 筒 */
.mahjong-D1:before{background-position:0 -1995px;}
.mahjong-D2:before{background-position:0 -1938px;}
.mahjong-D3:before{background-position:0 -1767px;}
.mahjong-D4:before{background-position:0 -1597px;}
.mahjong-D5:before{background-position:0 -1540px;}
.mahjong-D6:before{background-position:0 -1710px;}
.mahjong-D7:before{background-position:0 -1653px;}
.mahjong-D8:before{background-position:0 -342px;}
.mahjong-D9:before{background-position:0 -285px;}
/* 字: 東南西北中發白 */
.mahjong-H1:before{background-position:0 -570px;}
.mahjong-H2:before{background-position:0 -684px;}
.mahjong-H3:before{background-position:0 -969px;}
.mahjong-H4:before{background-position:0 -741px;}
.mahjong-H5:before{background-position:0 -627px;}
.mahjong-H6:before{background-position:0 -513px;}
.mahjong-H7:before{background-position:0 -912px;}
/* 花: 梅蘭竹菊春夏秋冬 */
.mahjong-F1:before{background-position:0 -2056px;}
.mahjong-F2:before{background-position:0 -2113px;}
.mahjong-F3:before{background-position:0 -2170px;}
.mahjong-F4:before{background-position:0 -2227px;}
.mahjong-F5:before{background-position:0 -2284px;}
.mahjong-F6:before{background-position:0 -2341px;}
.mahjong-F7:before{background-position:0 -2398px;}
.mahjong-F8:before{background-position:0 -2455px;}
